:root {
  --primary-color: #fde687;
}
body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/StrawHats-background.jpeg);
}
h1 {
  font-family: "Jersey 15", serif;
  font-size: 96px;
  font-weight: normal;
}

h2 {
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-size: 80px;
}
h3 {
  font-family: "roboto mono", serif;
  font-size: 48px;
}
.learn {
  border-radius: 4px;
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.learn:hover {
  background-color: var(--primary-color);
  color: white;
}
.header {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("images/sunny-go.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary-color);
  max-width: 100%;
  margin: 0 auto;
  padding: 300px;
}

footer p {
  font-family: "Roboto Mono", serif;
  color: white;
}

@media (max-width: 800px) {
  .header {
    padding: 100px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
}
